/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.1 - HELN - Escuela
--------------------------------------------------------------*/
/* Boton completado */
.learndash-wrapper #learndash_mark_complete_button,
.learndash-wrapper .learndash_mark_complete_button {
	font-size: 1.2em;
}

/* Volver al modulo */
#learndash_back_to_lesson a.button::before {
    content: "»";
    font-size: 20px;
}

#learndash_back_to_lesson a.button {
    background-color: #ffff;
    color: #0842f4;
    font-weight: 600;
    font-size: 1.2em;
}

/* Viñetas */
.entry-content li,
.comment-content li,
.mu_register li,
.lms-post-content li {
    margin: 0 0 0 45px;

}

.lms-post-content li {
	font-size: 18px;
	margin-bottom: 1em;
}

.entry-content ul,
.comment-content ul,
.mu_register ul,
.lms-post-content ul {
    list-style: disc outside;
}

.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul,
.lms-post-content ul {
    margin: 0 0 24px;
    line-height: 1.7;
}

/* Titulos */
.learndash h1.entry-title {
    display: none;
}

.lms-post-content h1,
.lms-post-content h2,
.lms-post-content h3,
.lms-post-content h4,
.lms-post-content h5,
.lms-post-content h6 {
	margin-block-start: 0.5em;
    margin-block-end: 0.65em;
}

/* CTA */
a.button-CTA {
	background-color: #ff9900;
    border-radius: 8px;
    padding: 0.3em 1.4em;
    line-height: normal;
    -moz-box-shadow: 3px 4px 0px 0px #ff700a;
    -webkit-box-shadow: 3px 4px 0px 0px #ff700a;
    box-shadow: 3px 4px 0px 0px #ff700a !important;
    color: #ffff;
	margin-top: 1em;
	float: left;
}

a.button-CTA::before, a.button-CTA::after {
    content: "➤";
    margin: 0 0.6em;
}

/* ---------SHORTCODES--------- */
/* CAJA */
ul.beauty_ul,
.textwidget ul.beauty_ul {
	background-color: #faf5f2;
	margin-left: 0;
	padding: 1.85rem;
	margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.beauty_li,
.textwidget .beauty_li {
	font-size: 18px;
	margin-left: 0.2rem;
	margin-bottom: 1em;
	list-style: none;
}

li.beauty_li::before,
.textwidget li.beauty_li::before {
	content: url(flecha.png);
	margin-right: 0.6rem;
	vertical-align: middle;
}

.learndash p {
    font-size: 18px;
}

/* FRASE */
.frase {
	position:relative;
	margin: 4vh auto;
	background-color: #faf5f2;
	font-size: 22px;
	color: #000;
	padding: 1.85rem 1.5em 1.85rem 3em;
	margin-top: 1.5em;
    margin-bottom: 1.5em;
	/*background: linear-gradient(to right bottom, #fbf313 50%, #faf5f2 0) no-repeat 0 0 / 2.5em 2.5em, linear-gradient(0, #fbf313 0, #faf5f2 0 0);*/
}

/* FRASE 2 */
.frase {
	position:relative;
	margin: 4vh auto;
	background-color: #faf5f2;
	font-size: 22px;
	color: #000;
	padding: 1.85rem 1.5em 1.85rem 3em;
	margin-top: 1.5em;
    margin-bottom: 1.5em;
}


/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

.entry-content h4, .comment-content h4 {
    font-size: 22px;
    line-height: 1.8;
}

/*width:780px caja y frae*/
@media(min-width:1140px){

	.estilo-sombra img{
		width: 768px;	
	}
	
	.estilo-sombra img{
		max-width: 768px;	
	}
    .estilo-video, .estilo-cta, .estilo-audio {
		max-width: 960px;
	}
}

/*left menu icons*/
.fa-user:before, .fa-graduation-cap:before, .fa-question-circle:before {
	display: none;
}
